---
import BigLogo from "../assets/BigLogo.astro";
// Fundations

import Wrapper from "../fundations/containers/Wrapper.astro";
const { blok } = Astro.props;
---

<section class="overflow-hidden">
  <Wrapper variant="wide" class="py-4">
    <div
      class="relative flex h-[calc(100vh-2rem)] items-end justify-end overflow-hidden rounded-3xl lg:items-start lg:justify-start">
      <div
        class="pointer-events-none absolute inset-0 z-10 flex max-h-full flex-col items-center justify-center px-8 mix-blend-difference md:inset-4 lg:inset-8 lg:-mb-32"
        aria-hidden="true">
        <BigLogo class="text-base-500 fill-base-500" />
      </div>
      <video
        autoplay
        muted
        loop
        playsinline
        class="absolute inset-0 size-full object-cover object-center">
        <source src={`/hero${blok.video || "1"}.mp4`} type="video/mp4" />
        Votre navigateur ne supporte pas la vidéo HTML5.
      </video>
    </div>
  </Wrapper>
</section>
