---
// Fundations
import Wrapper from "../fundations/containers/Wrapper.astro";
import RichTextRenderer from "storyblok-rich-text-astro-renderer/RichTextRenderer.astro";
import type { RichTextType } from "storyblok-rich-text-astro-renderer";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { storyblokEditable } from "@storyblok/astro";

export interface Props {
  blok: {
    text: RichTextType;
  };
}

const { blok } = Astro.props;
---

<section class="intro" {...storyblokEditable(blok)}>
  <Wrapper variant="standard">
    <div class="display2XL text-base-900 no-heading font-medium tracking-tight">
      <RichTextRenderer
        content={blok.text}
        resolver={(blok) => {
          return {
            component: StoryblokComponent,
            props: { blok }
          };
        }}
      />
    </div>
  </Wrapper>
</section>

<style>
  @reference "../../styles/global.css";

  .intro :global(em) {
    @apply text-base-500 font-light italic;
  }

  .intro :global(.btn-group) {
    @apply text-3xl sm:text-3xl md:text-4xl lg:text-5xl;
  }
</style>
